.header {
    background: #ECECEC;
    box-shadow: 0 0px 8px #f0f1f2;
    height: 200px;
    box-shadow: 0 8px 27px #38383854;
    
    .header-cover {
        display: flex;
        justify-content: space-between;
        width: 1168px;
        margin: auto;

        .header__logo {
            cursor: pointer;
            
            img {
                height: 120px;
                margin-top: 30px;
            }
        }

        .header__menu {
            display: flex;
            margin-left: auto;

            .menu__item {
                height: 200px;
                font-size: 28px;
                padding: 0px 30px;
                display: flex;
                align-items: center;

                a {
                    font-family: Segoe UI;
                    text-transform: uppercase;
                    color: #353535;

                    &::before {
                        content: "";
                        border-bottom: 1px solid;
                        widows: 10px;
                    }
                }
            }
        }

        .header__profile {
            padding: 80px 15px;
            float: right;
        }
    }
}