.compare-page {
    .files-uploader {
        overflow: hidden;
        transition: 0.3s ease;

        &.closed {
            height: 0px;
        }
    }

    .main-chart {
        margin: 20px;

        h2 {
            position: absolute;
            left: 760px;
            top: 300px;
            font-weight: 700;
            font-size: 3.5em;
            color: #77f162;
        }
    }

    .statistic {
        margin-top: 80px;
        font-size: 1.15em;
    }

    .send-btn {
        padding: 25px;
    }
}