.compare-page {
    .files-uploader {
        display: grid;
        overflow: hidden;
        transition: 0.3s ease;
        grid-template-columns: 1fr 1fr;

        &.closed {
            height: 0px;
        }

        .upload-file-status {
            position: absolute;
            right: 20px;
            bottom: 5px;
            font-size: 2em;
            opacity: 0;
            transition: .3s ease;

            &.active {
                opacity: 1;
            }
        }
    }

    .main-chart {
        position: relative;
        margin: 20px;

        h2 {
            position: absolute;
            left: 450px;
            top: 100px;
            font-weight: 700;
            font-size: 3.5em;
            color: #77f162;
        }
    }

    .statistic {
        margin-top: 80px;
        font-size: 1.15em;
    }

    .send-btn {
        padding: 25px;
    }
}